<div class="container mt-3">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h4><i class="fa fa-usd"></i> Añadir deuda</h4>
    </div>
    <div class="card-body">
      <form *ngIf="deudaForm" [formGroup]="deudaForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <!--Descripcion deuda-->
          <div class="col-md-4 mb-2">
            <label for="descripcion" class="form-label">Descripcion:</label>
            <input type="text" id="descripcion" class="form-control" formControlName="descripcion">
          </div>
          <!--Nombre del propietario de la deuda-->
          <div class="col-md-4 mb-2">
            <label for="propietario" class="form-label">Propietario:</label>
            <input type="text" id="propietario" class="form-control" formControlName="propietario">
          </div>
          <!--¿La deuda es un prestamo?-->
          <div class="col-md-4 mb-2">
            <div class="form-check" id="form-check">
              <input class="form-check-input" type="checkbox" id="prestamo" formControlName="prestamo"
                (change)="esPrestamo()">
              <label class="form-check-label" for="">¿Es un prestamo?</label>
            </div>
          </div>
        </div>
        <!--Campos ingresados-->
        <div class="row">
          <!-- Fecha de Inicio -->
          <div class="col-md-5 mb-2">
            <label for="fechaInicio" class="form-label">Fecha:</label>
            <div class="input-group">
              <input class="form-control form-control-sm" formControlName="fechaInicio" ngbDatepicker
                #dp="ngbDatepicker" readonly /><!-- Agregado form-control-sm para hacerlo más pequeño -->
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
                  <!-- Modificado el contenido del botón -->
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div *ngIf="deudaForm.get('fechaInicio')?.hasError('required')" class="text-danger">
              La fecha de inicio es obligatoria.
            </div>
          </div>
        </div>
        <div class="row">
          <!--Valor-->
          <div class="col-md-3 mb-2">
            <label for="valor" class="form-label">Valor:</label>
            <input type="text" id="valor" class="form-control" formControlName="valor"
              (keypress)="validarEntrada($event)" />
          </div>
        </div>
        <!--Boton de enviar-->
        <div class="row">
          <div class="text-end mt-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
