<div class="container mt-3">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h4><i class="fa fa-cubes"></i> Registrar factura de compra</h4>
    </div>
    <div class="card-body">
      <form *ngIf="facturaCompraForm" [formGroup]="facturaCompraForm" (ngSubmit)="onSubmit()">
        <!--Fila para datos del cliente-->
        <div class="row">
          <!--Nombre del proveedor-->
          <div class="col-md-2 mb-4">
            <label for="nombre" class="form-label">Nombre de proveedor:</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre" (input)="onInputChange()">
          </div>
          <!--Nombre del proveedor-->
          <div class="col-md-2 mb-4">
            <label for="idProveedor" class="form-label">Id del proveedor:</label>
            <input type="text" id="idProveedor" class="form-control" formControlName="idProveedor" readonly>
          </div>
          <!--Id de factura compra-->
          <div class="col-md-4 mb-4">
            <label for="idFacturaCompra" class="form-label">Id de factura:</label>
            <input type="text" id="idFacturaCompra" class="form-control" formControlName="idFacturaCompra">
          </div>
        </div>
        <!--Campos ingresados-->
        <div class="row">
          <!-- Fecha de Inicio -->
          <div class="col-md-5 mb-2">
            <label for="fecha" class="form-label">Fecha:</label>
            <div class="input-group">
              <input class="form-control form-control-sm" formControlName="fecha" ngbDatepicker #dp="ngbDatepicker"
                readonly /><!-- Agregado form-control-sm para hacerlo más pequeño -->
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
                  <!-- Modificado el contenido del botón -->
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div *ngIf="facturaCompraForm.get('fecha')?.hasError('required')" class="text-danger">
              La fecha es obligatoria.
            </div>
          </div>
          <!--Descripcion -->
          <div class="col-md-4 mb-4">
            <label for="descripcion" class="form-label">Descripcion:</label>
            <textarea type="text" id="descripcion" class="form-control" formControlName="descripcion"
              rows="4"></textarea>
          </div>
        </div>
        <div class="row">
          <!--Valor-->
          <div class="col-md-3 mb-2">
            <label for="valor" class="form-label">Valor:</label>
            <input type="text" id="valor" class="form-control" formControlName="valor"
              (keypress)="validarEntrada($event)" />
          </div>
        </div>
        <!--Boton de enviar-->
        <div class="row">
          <div class="text-end mt-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>