<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="assets/logo_nivel_45.png" alt="Nivel 45" class="img-fluid navbar-logo">
    <span class="navbar-brand">Nivel 45</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- (visible solo cuando el usuario no ha iniciado sesión) -->
        <li class="nav-item" *ngIf="!sessionServicePublic.isAuthenticated()">
          <a class="nav-link active" aria-current="page" [routerLink]="['/inicio']">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="!sessionServicePublic.isAuthenticated()">
          <a class="nav-link" [routerLink]="['/nosotros']">Nosotros</a>
        </li>
        <li class="nav-item" *ngIf="!sessionServicePublic.isAuthenticated()">
          <a class="nav-link" [routerLink]="['/obras']">Obras</a>
        </li>
        <li class="nav-item" *ngIf="!sessionServicePublic.isAuthenticated()">
          <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
        </li>

        <!-- Elementos para usuarios autenticados -->
        <li *ngIf="sessionServicePublic.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownClientes" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clientes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownClientes">
            <a class="dropdown-item" [routerLink]="['/p/add-cliente']">Añadir Cliente</a>
            <a class="dropdown-item" [routerLink]="['/p/lista-clientes']">Lista de Clientes</a>
          </div>
        </li>

        <!-- Elementos para usuarios autenticados: Obras -->
        <li *ngIf="sessionServicePublic.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownObras" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Obras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownObras">
            <a class="dropdown-item" [routerLink]="['/p/add-obra']">Añadir Obra</a>
            <a class="dropdown-item" [routerLink]="['/p/lista-obras']">Lista de Obras</a>
          </div>
        </li>

        <!-- Elementos para usuarios autenticados: Ventas -->
        <li *ngIf="sessionServicePublic.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVentas" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Ventas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownVentas">
            <a class="dropdown-item" [routerLink]="['/p/facturar']">Facturar</a>
            <a class="dropdown-item" [routerLink]="['/p/lista-facturas']">Lista de Facturas</a>
          </div>
        </li>

        <!-- Elementos para usuarios autenticados: Proveedores -->
        <li *ngIf="sessionServicePublic.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProveedores" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Proveedores
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownProveedores">
            <a class="dropdown-item" [routerLink]="['/p/add-proveedor']">Añadir Proveedor</a>
            <a class="dropdown-item" [routerLink]="['/p/lista-proveedores']">Lista de Proveedores</a>
          </div>
        </li>

        <!-- Empleados -->
        <li *ngIf="sessionServicePublic.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGastos" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Empleados
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownGastos">
            <a class="dropdown-item" [routerLink]="['/p/add-empleado']">Añadir Empleado</a>
            <a class="dropdown-item" [routerLink]="['/p/lista-empleados']">Lista de empleados</a>
          </div>
        </li>

        <!-- Elementos para usuarios autenticados: Gastos -->
        <li *ngIf="sessionServicePublic.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGastos" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Gastos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownGastos">
            <a class="dropdown-item" [routerLink]="['/p/registrar-factura-compra']">Registrar Factura Compra</a>
            <a class="dropdown-item" [routerLink]="['/p/registrar-compra']">Registrar Compra</a>
          </div>
        </li>

        <!-- Elementos para usuarios autenticados: Poductos -->
        <li *ngIf="sessionServicePublic.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGastos" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownGastos">
            <a class="dropdown-item" [routerLink]="['/p/add-producto']">Añadir Producto</a>
            <a class="dropdown-item" [routerLink]="['/p/lista-productos']">Lista de Productos</a>
          </div>
        </li>
        <!-- Deudas -->
        <li *ngIf="sessionServicePublic.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGastos" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Deudas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownGastos">
            <a class="dropdown-item" [routerLink]="['/p/add-deuda']">Registar Deudas</a>
            <a class="dropdown-item" [routerLink]="['/p/lista-deuda']">Lista de deudas</a>
          </div>
        </li>
        <!-- Registro general -->
        <li class="nav-item" *ngIf="sessionServicePublic.isAuthenticated()">
          <a class="nav-link" [routerLink]="['/p/registro-general']">Registro General</a>
        </li>
      </ul>

      <!-- Botones de inicio de sesión y cierre de sesión -->
      <div class="ml-auto">
        <div *ngIf="!sessionServicePublic.isAuthenticated()">
          <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/login']">Iniciar Sesión</button>
        </div>

        <div *ngIf="sessionServicePublic.isAuthenticated()">
          <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </div>
</nav>
