<div class="top">
  <div class="banner">
    <div class="bienvenida">
      <img src="./../../assets/banner.png" alt="banner de inicio" class="banner-img">
      <h1>Bienvenidos a nivel 45</h1>
    </div>
  </div>
</div>
<div class="mid">
  <div class="puertas">
    <h3>Puertas</h3>
    <p class="text-p">
      Fabicacion de puertas de Aluminio,
      Acero, Hierro normal y Hierro forjado
      en varios modelos disponibles o
      diseñados a gusto de nuestros clientes
    </p>
    <button class="boton-mas">Saber más</button>
  </div>
  <div class="techos">
    <h3>Techos y pergolas</h3>
    <p class="text-p">
      Fabicación de puertas de Aluminio,
      Acero, Hierro normal y Hierro forjado
      en varios modelos disponibles o
      diseñados a gusto de nuestros clientes
    </p>
    <button class="boton-mas">Saber más</button>
  </div>
  <div class="pasamanos">
    <h3>Pasamanos</h3>
    <p class="text-p">
      Fabricación de pasamanos en varios estilos
      y materiales los cuales incluyen hierro normal,
      hierro forjado, acero inoxidable y vidrio templado <br>
    </p>
    <button class="boton-mas">Saber más</button>
  </div>
  <div class="escaleras">
    <h3>Escaleras y gradas</h3>
    <p class="text-p">
      Fabricación de escaleras tanto interiores como
      exteriores en una gran variedad de modelos y
      materiales adecuados a gusto de nuestros clientes <br>
    </p>
    <button class="boton-mas">Saber más</button>
  </div>
  <div class="templado">
    <h3>Cabinas de baño</h3>
    <p class="text-p">
      Fabricación e instalación de vidrio templado
      para mamparas, fachadas, ventanas, pasamanos
      cabinas de baño entre otros usos, en varios
      modelos disponibles y diseñados a medida<br>
    </p>
    <button class="boton-mas">Saber más</button>
  </div>
</div>
<div class="end">
  <div>
    <h2>Más de nosotros</h2>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/SVG4AXw94CU?si=b9Qwi9_iTtHm3CM2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>
