.navbar-brand {
  /* Estilos personalizados para el texto "Nivel 45" */
  color: #333; /* Cambia el color de texto según tus preferencias */
  font-weight: bold; /* Otras propiedades de estilo si es necesario */
}

.navbar-logo{
  max-width: 2%; /* Establece el tamaño máximo al 60% */
}

.ml-auto {
  margin-left: auto !important;
}
