<div>
  <h1><i class="fa fa-money"></i> Control Monetario de obra</h1>
</div>
<div>
  <h5>Total de la obra Original: </h5>
</div>


<table class="table table-striped table-hover table-dark table-sm">
  <thead>
    <tr>
      <th scope="col">Número</th>
      <th scope="col">Propietario</th>
      <th scope="col">Valor total Deuda</th>
      <th scope="col">Valor abonos</th>
      <th scope="col">Saldo Actual</th>
      <!-- Agrega aquí más columnas según tus necesidades -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let abono of abonos; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ propietario }}</td>
      <td>{{ totalDeudaOriginal }}</td>
      <td>{{ regular(abono.valor) }}</td>
      <td>{{ regular(totalDeudaOriginal - abonosSumados[i]) }}</td>
    </tr>
  </tbody>
</table>
