<div class="container-big">
  <div class="container-left">
    <h5>
      Misión:
    </h5>
    <p>
      En Nivel 45, nos comprometemos a ofrecer soluciones de ingeniería mecánica de vanguardia con un
      enfoque centrado en la calidad, la innovación y la responsabilidad. Nuestra misión es proporcionar servicios y
      productos que superen las expectativas de nuestros clientes, asegurando la máxima eficiencia y seguridad en cada
      proyecto. Nos esforzamos por ser líderes en la industria, manteniendo los más altos estándares de integridad,
      ética y profesionalismo en cada aspecto de nuestro trabajo.
    </p>
  </div>
  <div class="container-mid">
    <h5>
      Visión:
    </h5>
    <p>
      Nuestra visión es consolidar nuestra posición como referente en el sector de la mecánica industrial, expandiendo
      nuestro alcance y abarcando un público diverso en nuestra ciudad y más allá. Aspiramos a ser reconocidos por
      nuestra excelencia técnica, nuestro compromiso con la innovación y nuestra capacidad para brindar soluciones
      efectivas a los desafíos más complejos de la industria. Nos esforzamos por cultivar relaciones sólidas y duraderas
      con nuestros clientes, colaboradores y socios comerciales, y por ser un motor de desarrollo y progreso en nuestra
      comunidad y en el país.
    </p>
  </div>
</div>
