<div class="cabinas">
  <div>
    <h3>Cabinas</h3>
  </div>
  <div class="body-cabinas">
    <p class="text-p">
      {{descripcionCabinaActual}}
    </p>
    <img src="{{rutaCabinaActual}}" alt="">
    <img src="../../assets/trabajos/Cabina con puerta batiente a 45°.JPG" alt="">
  </div>
</div>
<div class="techos">
  <div>
    <h3>Techos</h3>
  </div>
  <div class="body-techos">
    <p class="text-p">
      {{descripcionTecho}}
    </p>
  </div>
</div>
<div class="pasamanos">
  <div>
    <h3>Pasamanos</h3>
  </div>
  <div class="body-pasamanos">
    <p class="text-p">
      {{descripcionPasamano}}
    </p>
  </div>
</div>
<div class="escaleras">
  <div>
    <h3>Escaleras</h3>
  </div>
  <div class="body-escaleras">
    <p class="text-p">
      {{descripcionEscalera}}
    </p>
  </div>
</div>
<div class="puertas">
  <div>
    <h3>Puertas</h3>
  </div>
  <div class="body-puertas">
    <p class="text-p">
      {{descripcionPuerta}}
    </p>
  </div>
</div>
