.container-big{
  background-color: white;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin: 20px 10px 20px 10px;
  border: 10px solid white;
  border-radius: 5px;
}

.container-left, .container-mid{
  border: 10px solid #EAECEE;
  background-color: #EAECEE;
  border-radius: 5px;
  margin: 10px;
  width: auto;
}

