<div class="cabinas">
  <div>
    <h3>Cabinas</h3>
  </div>
  <div class="body-cabinas">
    <p class="text-p">
      {{descripcionCabina}}
      <img src="{{rutaCabina}}" alt="carrusel-cabinas">
    </p>
  </div>
</div>
<div class="techos">
  <div>
    <h3>Techos</h3>
  </div>
  <div class="body-techos">
    <p class="text-p">
      {{descripcionTecho}}
      <img src="{{rutaTecho}}" alt="carrusel-techos">
    </p>
  </div>
</div>
<div class="pasamanos">
  <div>
    <h3>Pasamanos</h3>
  </div>
  <div class="body-pasamanos">
    <p class="text-p">
      {{descripcionPasamano}}
      <img src="{{rutaPasamano}}" alt="carrusel-pasamanos">
    </p>
  </div>
</div>
<div class="escaleras">
  <div>
    <h3>Escaleras</h3>
  </div>
  <div class="body-escaleras">
    <p class="text-p">
      {{descripcionEscalera}}
      <img src="{{rutaEscalera}}" alt="carrusel-escaleras">
    </p>
  </div>
</div>
<div class="puertas">
  <div>
    <h3>Puertas</h3>
  </div>
  <div class="body-puertas">
    <p class="text-p">
      {{descripcionPuerta}}
      <img src="{{rutaPuerta}}" alt="carrusel-puertas">
    </p>
  </div>
</div>
