<div>

</div>
<div class="cabinas">
  <div>
    <h3>Vidrio templado</h3>
  </div>
  <div class="body-cabinas">
    <p>
      Entra en un mundo de lujo y estilo con nuestra exclusiva colección de productos en vidrio templado. Somos expertos
      en la fabricación e instalación de cabinas de baño y mamparas, fusionando innovación y calidad para crear espacios
      únicos y sofisticados.
      <br>
      <br>
      Sumérgete en la indulgencia con nuestras cabinas de baño en vidrio templado, disponibles en una variedad de
      modelos: desde puertas batientes que invitan a entrar con elegancia, hasta las prácticas corredizas que ahorran
      espacio. ¿Prefieres un diseño esquinero para optimizar cada rincón, o quizás una opción fija para una declaración
      de estilo? Tenemos la solución perfecta para ti.
      <br>
      <br>
      Además, para tus proyectos comerciales, te ofrecemos mamparas diseñadas para frentes comerciales con una gama de
      opciones, desde dinteles batientes hasta corredizas, adaptadas a las necesidades de tu negocio.
    </p>
    <div id="carouselCabinas" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/trabajos/Cabina con puerta batiente a 45°.JPG" class="d-block w-100"
            alt="Cabina con puerta batiente a 45°">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Cabina de baño en acrilico.jpg" class="d-block w-100"
            alt="Cabina de baño en acrilico">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Cabina de baño en vidrio templado con uñero.jpg" class="d-block w-100"
            alt="Cabina de baño en vidrio templado con uñero">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Cabina de baño en vidrio templado grande.jpg" class="d-block w-100"
            alt="Cabina de baño en vidrio templado grande">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Cabina de baño esquinera con clips.JPG" class="d-block w-100"
            alt="Cabina de baño esquinera con clip">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Cabina de baño esquinera de doble hoja con marco inox.jpg"
            class="d-block w-100" alt="Cabina de baño esquinera de doble hoja con marco inox">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Cabina de baño esquinera montada.JPG" class="d-block w-100"
            alt="Cabina de baño esquinera montada">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Kit de baño para vidrio templado.jpg" class="d-block w-100"
            alt="Kit de baño para vidrio templado">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Cabina de vidrio de baño con templador sin puerta.jpg" class="d-block w-100"
            alt="Cabina de vidrio de baño con templador sin puerta">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCabinas" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCabinas" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="techos">
  <div>
    <h3>Techos</h3>
  </div>
  <div class="body-techos">
    <p>
      Descubre la elegancia y la funcionalidad de nuestros techos de vidrio y policarbonato con estructuras de hierro.
      En nuestra empresa, nos destacamos por ofrecer una amplia gama de modelos que se adaptan a tus necesidades, con
      valores monetarios variables.
      <br>
      <br>
      Desde diseños simples y minimalistas hasta estructuras elaboradas y detalladas, nuestros techos proporcionan
      luminosidad y modernidad a cualquier espacio. Ya sea para tu hogar o negocio, contamos con la solución perfecta
      para ti.
      <br>
      <br>
      Nuestros techos están diseñados para optimizar la iluminación natural y embellecer tus espacios. Además, ofrecemos
      una variedad de opciones para proyectos comerciales, adaptadas a las necesidades específicas de tu negocio.
    </p>
    <div id="carouselTechos" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/trabajos/techo de vidrio con sombra en el centro desde arriba.jpg"
            class="d-block w-100" alt="Techo de vidrio con sombra en el centro desde arriba">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/techo de vidrio con sombra en el centro.jpg" class="d-block w-100"
            alt="Techo de vidrio con sombra en el centro">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Techo de vidrio montado.JPG" class="d-block w-100"
            alt="Techo de vidrio montado">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Techo para jardin interior - desde arriba derecha.jpg" class="d-block w-100"
            alt="Techo para jardin interior - desde arriba derecha">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Techo para jardin interior - terminado.jpg" class="d-block w-100"
            alt="Techo para jardin interior - terminado">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Techo pergola aerea con vidrio bronce.jpg" class="d-block w-100"
            alt="Techo pergola aerea con vidrio bronce">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Techo piramide con planchas de policarbonato terminado.jpg"
            class="d-block w-100" alt="Techo piramide con planchas de policarbonato terminado">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselTechos" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselTechos" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="pasamanos">
  <div>
    <h3>Pasamanos</h3>
  </div>
  <div class="body-pasamanos">
    <p class="text-p">
      Descubre nuestra colección de pasamanos, donde la seguridad se une con el estilo en una combinación perfecta.
      Fabricados con materiales de primera calidad como hierro, hierro forjado, acero inoxidable y vidrio templado,
      nuestros pasamanos ofrecen durabilidad y elegancia en igual medida.
      <br>
      <br>
      Desde los clásicos pasamanos de hierro hasta las modernas opciones de acero inoxidable y vidrio templado, nuestra
      variedad de diseños se adapta a todos los estilos y necesidades. Ya sea que busques un aspecto tradicional o
      contemporáneo, tenemos la solución perfecta para ti.
      <br>
      <br>
      Confía en nosotros para ofrecerte pasamanos que no solo garantizan seguridad, sino que también realzan la estética
      de tus espacios. Descubre la belleza y la funcionalidad de nuestros pasamanos y eleva el diseño de tus escaleras y
      pasillos.
    </p>
    <div id="carouselPasamanos" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/trabajos/Pasamano de escalera pequeña.JPG" class="d-block w-100"
            alt="Pasamano de escalera pequeña">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Lampara en escalera espiral de hierro.JPG" class="d-block w-100"
            alt="Lampara en escalera espiral de hierro">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Pasamanos curvos en hierro forjado para recepcion elegante.jpg"
            class="d-block w-100" alt="Pasamanos curvos en hierro forjado para recepcion elegante">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Pasamanos de acero inox y puertas con modelo.jpg" class="d-block w-100"
            alt="Pasamanos de acero inox y puertas con modelo">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Pasamanos de acero inox.jpg" class="d-block w-100"
            alt="Pasamanos de acero inox">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Pasamanos de hierro con vidrio templado en el centro.JPG"
            class="d-block w-100" alt="Pasamanos de hierro con vidrio templado en el centro">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Pasamanos de hierro en horizontal para exterior.JPG" class="d-block w-100"
            alt="Pasamanos de hierro en horizontal para exterior">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Pasamanos de hierro forjado decorado con boton.JPG" class="d-block w-100"
            alt="Pasamanos de hierro forjado decorado con boton">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Pasamanos de hierro modelo cuadrado horizontal.JPG" class="d-block w-100"
            alt="Pasamanos de hierro modelo cuadrado horizontal">
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/trabajos/Pasamanos de vidrio templado con soporte en el escalon y puntos para mangon arriba.JPG"
            class="d-block w-100"
            alt="Pasamanos de vidrio templado con soporte en el escalon y puntos para mangon arriba">
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/trabajos/Pasamanos de vidrio templado con soporte en el escalon y puntos para mangon.JPG"
            class="d-block w-100" alt="Pasamanos de vidrio templado con soporte en el escalon y puntos para mangon">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPasamanos" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPasamanos" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="escaleras">
  <div>
    <h3>Escaleras</h3>
  </div>
  <div class="body-escaleras">
    <p class="text-p">
      Descubre nuestra colección de pasamanos para escaleras, donde la seguridad y el estilo se encuentran en perfecta
      armonía. Fabricados con hierro, vidrio templado y madera, nuestros pasamanos ofrecen opciones con viga central,
      flotantes en la pared y con doble soporte.
      <br>
      <br>
      Desde diseños clásicos hasta contemporáneos, nuestros pasamanos están diseñados para complementar cualquier estilo
      arquitectónico. Confía en nosotros para encontrar el pasamanos perfecto que no solo realce la estética, sino que
      también garantice la seguridad en tus escaleras.
      <br>
      <br>
      Descubre nuestra versátil selección de pasamanos, diseñados para complementar cualquier estilo arquitectónico.
      Desde modelos con viga central que aportan estabilidad y elegancia a tu escalera, hasta pasamanos flotantes en la
      pared que ofrecen una sensación de modernidad y ligereza, tenemos opciones para todos los gustos. Además, nuestros
      pasamanos con doble soporte proporcionan un equilibrio perfecto entre estilo y funcionalidad, brindando un apoyo
      adicional sin comprometer el diseño.
    </p>
    <div id="carouselEscaleras" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/trabajos/Escalera con pasamano en hierro maderado.JPG" class="d-block w-100"
            alt="Escalera con pasamano en hierro maderado">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Escalera con pasamanos en pared a 45°.JPG" class="d-block w-100"
            alt="Escalera con pasamanos en pared a 45°">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Escalera de soporte central.jpg" class="d-block w-100"
            alt="Escalera de soporte central">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Escaleras aereas con soporte a la pared completas.JPG" class="d-block w-100"
            alt="Escaleras aereas con soporte a la pared completas">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselEscaleras" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselEscaleras" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="puertas">
  <div>
    <h3>Puertas</h3>
  </div>
  <div class="body-puertas">
    <p class="text-p">
      Bienvenido a nuestra exclusiva colección de pasamanos para escaleras, donde la seguridad se combina con la
      elegancia en cada diseño. En nuestra empresa, nos dedicamos a ofrecer una variedad de opciones fabricadas con los
      mejores materiales, incluyendo hierro, hierro forjado, planchas de tol estampadas y vidrio templado.
      <br>
      <br>
      Explora nuestra selección de pasamanos, que incluye modelos con diseños innovadores y materiales de alta calidad.
      Desde los clásicos pasamanos de hierro, que aportan un toque de tradición y solidez a tu escalera, hasta los
      elaborados diseños de hierro forjado, que añaden un toque de elegancia y sofisticación.
      <br>
      <br>
      Nuestros pasamanos fabricados con planchas de tol estampadas ofrecen una opción única y moderna, con diseños
      creativos que añaden un toque de estilo a cualquier ambiente. Y para aquellos que buscan la transparencia y la
      luminosidad del vidrio templado, ofrecemos una variedad de opciones que combinan seguridad y modernidad de forma
      perfecta.
      <br>
      <br>
      Descubre la versatilidad y la elegancia de nuestros pasamanos y eleva el aspecto de tus espacios.
    </p>
    <div id="carouselPuertas" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/trabajos/Puerta con planchas de tol - garaje.JPG" class="d-block w-100"
            alt="Puerta con planchas de tol - garaje">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta con planchas de tol - peatonal.JPG" class="d-block w-100"
            alt="Puerta con planchas de tol - peatonal">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta corrediza de division en aluminio.JPG" class="d-block w-100"
            alt="Puerta corrediza de division en aluminio">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de garaje con plancha de tol en rectangulos.JPG" class="d-block w-100"
            alt="Puerta de garaje con plancha de tol en rectangulos">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de garaje con plancha de tol verde y parrilla frontal.JPG"
            class="d-block w-100" alt="Puerta de garaje con plancha de tol verde y parrilla frontal">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de garaje con tablones de madera en ola.JPG" class="d-block w-100"
            alt="Puerta de garaje con tablones de madera en ola">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de garaje con tablones de madera.JPG" class="d-block w-100"
            alt="Puerta de garaje con tablones de madera">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de garaje con tol micro doblado.JPG" class="d-block w-100"
            alt="Puerta de garaje con tol micro doblado">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de garaje en hierro forjado envejecida.JPG" class="d-block w-100"
            alt="Puerta de garaje en hierro forjado envejecida">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de garaje en hierro forjado terminada.JPG" class="d-block w-100"
            alt="Puerta de garaje en hierro forjado terminada">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de garaje en horizontal con doble vision.JPG" class="d-block w-100"
            alt="Puerta de garaje en horizontal con doble vision">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de garaje horizontal mas proteccion.JPG" class="d-block w-100"
            alt="Puerta de garaje horizontal mas proteccion">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de garaje modelo horizontal.jpg" class="d-block w-100"
            alt="Puerta de garaje modelo horizontal">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de hierro con plancha abajo y accesorios forjados colocada.JPG"
            class="d-block w-100" alt="Puerta de hierro con plancha abajo y accesorios forjados colocada">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de hierro con plancha de tol doblez grande.jpg" class="d-block w-100"
            alt="Puerta de hierro con plancha de tol doblez grande">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de hierro con plancha de tol doblez grande.jpg" class="d-block w-100"
            alt="Puerta de hierro con plancha de tol doblez grande">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de hierro forjado para garaje.JPG" class="d-block w-100"
            alt="Puerta de hierro forjado para garaje">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puerta de hierro para entrada a condominio.JPG" class="d-block w-100"
            alt="Puerta de hierro para entrada a condominio">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puertas de vestidor con vidrio templado desluztrado y toallero manija.jpg"
            class="d-block w-100" alt="Puertas de vestidor con vidrio templado desluztrado y toallero manija">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puertas exteriores en aluminio y ventana todos en arcos.JPG"
            class="d-block w-100" alt="Puertas exteriores en aluminio y ventana todos en arcos">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/Puertas de vestidor con vidrio templado desluztrado y toallero manija.jpg"
            class="d-block w-100" alt="Puertas de vestidor con vidrio templado desluztrado y toallero manija">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/puertas-de-hierro-forjado-189x300[1].jpg" class="d-block w-100"
            alt="puertas-de-hierro-forjado-189x300">
        </div>
        <div class="carousel-item">
          <img src="../../assets/trabajos/puertas-de-hierro-forjado-189x300[1].jpg" class="d-block w-100"
            alt="puertas-de-hierro-forjado-189x300">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPuertas" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPuertas" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
