<div class="container mt-3">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h4><i class="fa fa-question-circle"></i> Registrar compra</h4>
    </div>
    <div class="card-body">
      <form *ngIf="compraForm" [formGroup]="compraForm" (ngSubmit)="onSubmit()">
        <!--Campos ingresados-->
        <div class="row">
          <!--Descripcion -->
          <div class="col-md-4 mb-4">
            <label for="descripcion" class="form-label">Descripcion:</label>
            <textarea type="text" id="descripcion" class="form-control" formControlName="descripcion"
              rows="4"></textarea>
          </div>
          <!-- Fecha de Inicio -->
          <div class="col-md-5 mb-2">
            <label for="fecha" class="form-label">Fecha:</label>
            <div class="input-group">
              <input class="form-control form-control-sm" formControlName="fecha" ngbDatepicker #dp="ngbDatepicker"
                readonly /><!-- Agregado form-control-sm para hacerlo más pequeño -->
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
                  <!-- Modificado el contenido del botón -->
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div *ngIf="compraForm.get('fecha')?.hasError('required')" class="text-danger">
              La fecha es obligatoria.
            </div>
          </div>
        </div>
        <div class="row">
          <!--Valor-->
          <div class="col-md-3 mb-2">
            <label for="valor" class="form-label">Valor:</label>
            <input type="text" id="valor" class="form-control" formControlName="valor"
              (keypress)="validarEntrada($event)" />
          </div>
        </div>
        <!--Check para abrir el modal-->
        <div class="col-md-3 mb-2">
          <div class="form-check" id="form-check">
            <input class="form-check-input" type="checkbox" id="perteneceObra" formControlName="perteneceObra"
              (change)="toogleObra()">
            <label class="form-check-label" for="perteneceObra">Pertenece a una obra</label>
          </div>
        </div>
        <!--Boton de enviar-->
        <div class="row">
          <div class="text-end mt-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-3 obras-en-proceso" *ngIf="tieneObra">
    <div class="card-body">
      <h3>Obras en Proceso</h3>
      <form *ngIf="obraForm" [formGroup]="obraForm">
        <label for="cedula" class="form-label">Cedula:</label>
        <input type="text" id="cedula" class="form-control" formControlName="cedula" (input)="abrirListaObras()">
      </form>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Cédula</th>
              <th>Número</th>
              <th>Descripción</th>
              <th>Total</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obra of obras" (click)="seleccionarObra(obra)">
              <td>{{ obra.cedula }}</td>
              <td>{{ obra.numero }}</td>
              <td>{{ obra.descripcion }}</td>
              <td>{{ obra.total | currency:'USD':'symbol':'1.2-2' }}</td>
              <td>{{ obra.estado }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
