<footer class="footer bg-light" *ngIf="!sessionServicePublic.isAuthenticated()">
  <div class="container">
    <div class="footer-content">
      <span class="text-muted">©2023 Nivel 45</span>
      <div class="social-icons">
        <a href="https://www.facebook.com/nivel45?mibextid=ZbWKwL" class="social-icon" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/@nivel45" class="social-icon" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://instagram.com/nivel45_?igshid=YTQwZjQ0NmI0OA==" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
