<div class="main">
  <div>
    <iframe class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d704.4088867397451!2d-79.01702114160997!3d-2.8915814243572546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd199bbc9c6df5%3A0x11280f8858c14783!2sNivel%2045!5e0!3m2!1ses-419!2sec!4v1708983413620!5m2!1ses-419!2sec"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <div class="mid">
    <div class="contact">
      <div class="nombre">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" id="nombre">
      </div>
      <div class="contacto">
        <div class="email">
          <label for="email" class="form-label">Email:</label>
          <input type="email" id="email">
        </div>
        <div class="telefono">
          <label for="telefono" class="form-label">Telefono:</label>
          <input type="tel" id="telefono">
        </div>
      </div>
      <div class="mensaje">
        <label for="mensaje" class="form-label">Nombre:</label>
        <input type="text" id="mensaje">
      </div>
    </div>
    <div class="info">
      <p>
        Somos una empresa fabricacion de articulos de
        aluminio, vidrio, hierro y acero inoxidable
        Celular: 0994103075
        Cuenca-Ecuador
      </p>
    </div>
  </div>
</div>
